.row{
  margin-left: 20px;
  color: #fff;
}

.posters{
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  overflow-y:hidden ;
}

.posters::-webkit-scrollbar{
  display: none;
}


.poster {
  max-height: 250px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); /* Longer duration and cubic-bezier timing */
}

.smallPoster {
  max-height: 130px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); /* Longer duration and cubic-bezier timing */
}

.poster:hover,
.smallPoster:hover {
  transform: scale(1.2);
}
